
body, html {
  margin: 0;
  padding: 0;
}

/* Applying box-sizing globally */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.custom-shadow-bg-white {
  box-shadow: 8px 6px 6px rgba(0, 0, 0, 0.2);
  background-color: white;
}
@tailwind base;
@tailwind components;
@tailwind utilities;